* {
    background-color: hotpink;
    margin: 0;
    padding: 0;
}

.title {
    font-family:fantasy;
    text-align: center;
    background-color:lightpink;
}
.little {
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contener {
    display: inline;
    background-color: lightpink;
}

.products {
    display: flex;
    justify-content: space-around;
    background-color: lightpink;
    padding: 20px;
}

.products *{
    background-color: lightpink;
}
.make {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
}